@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-color: rgb(255, 231, 201);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

article .prose h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3rem;
  margin-top: 2rem;
  letter-spacing: 0.01em;
}

article .prose {
  color: black;
}

article .prose p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: 320;
}
