@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-color: rgba(254, 231, 202, 0.6);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  padding-bottom: 12vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

article .prose h1 {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-weight: 200;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3rem;
  margin-top: 2rem;
  letter-spacing: 0.01em;
}

article .prose {
  color: black;
}

article img {
  margin-left: -10%;
  max-width: 120%;
  border-left: 1px dashed saddlebrown;
  padding-left: 0.5rem;
}

article .prose p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: 320;
}

nav {
  font-weight: 300;
}

nav ul li:first-child {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
  font-weight: 300;
  border-right: 1px solid saddlebrown;
  padding-right: 1em;
}

nav li {
  letter-spacing: 0.01rem;
}
